OCI_COMPARTMENT_ID=ocid1.compartment.oc1..##############
OCI_PROFILE=DEFAULT
OCI_CONFIG_FILE=~/.oci/config
OCI_MODEL_ID=ocid1.generativeaimodel.oc1.us-chicago-1.#####
OCI_GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com